#page-content-wrapper {
    transform-origin: center top;
    -moz-transform-origin: center top;
    overflow-y: hidden;
}

.comment-container {
    transform: scale(0.6);
    transform-origin: center 10vh;
    -moz-transform-origin: center 10vh;
}
