<!DOCTYPE html>
<html data-bs-theme="light"
      lang="en"
      layout:decorate="~{layout/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<div layout:fragment="content">
    <div class="d-flex flex-column" style="min-height: 50vh;">
        <h3 class="mx-auto">Welcome to Peg Solitaire</h3>
        <button class="button23 mx-auto my-auto -5 w-25" id="login">Login</button>
        <input class="button26 mx-auto my-auto  w-50" form="setup" type="submit" value="Play">
    </div>
</div>

<span layout:fragment="additional-scripts">
    <script th:src="@{/js/index.js}"></script>
</span>