<!DOCTYPE html>
<html data-bs-theme="light"
      lang="en"
      layout:decorate="~{layout/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">

    <div class="w-100 h-100 d-flex flex-column align-items-center justify-content-center text-center">
        <div class="w-75">
            <h3>Welcome to Peg Solitaire</h3>
            <input class="btn btn-primary my-2 w-25" form="setup" type="submit" value="Play">
            <div class="h-25"></div>
        </div>

    </div>
</div>