<!DOCTYPE html>
<html data-bs-theme="light"
      lang="en"
      layout:decorate="~{layout/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<span layout:fragment="additional-css">
    <link rel="stylesheet" th:href="@{/css/peg.css}"/>
    <link rel="stylesheet" th:href="@{/css/board.css}"/>
    <link rel="stylesheet" th:href="@{/css/win-popup.css}"/>
</span>

<div id="main" layout:fragment="content">
    <div class="win-popup" hidden="hidden">
        <div class="result-window">
            <small id="game-result-text"></small>
            <small id="game-result-score"></small>
            <div class="d-flex mx-auto flex-row" style="max-height: 2rem">
                <small class="mx-1 btn btn-outline-primary" id="save-score">Save?</small>
                <small class="mx-1 btn btn-outline-dark" id="game-result-quit">Quit?</small>
            </div>
        </div>
    </div>

    <nav class="navbar m-2 navbar-expand-lg">
        <div class="d-flex w-100 flex-grow-0 justify-content-center">
            <div class="bg-opacity-50 h-25 flex-shrink-1 py-2 p-1 rounded-3 d-flex flex-wrap"
                 style=" background: rgb(204,30,245); background: linear-gradient(90deg, rgba(204,30,245,0.22096162683823528) 41%, rgba(30,245,222,0.25177395176820727) 60%, rgba(13,0,249,0.12572353160014005) 94%); ">

                <a class="mx-1" href="/pegsolitaire/undo">
                    <div class="btn fs-6 btn-outline-dark">Undo</div>
                </a>

                <form action="/pegsolitaire/new" class="mx-1" id="newGame" method="POST"></form>
                <div class="btn fs-6 btn-outline-dark" id="restartBtn" th:text="Restart"></div>

            </div>
        </div>
    </nav>

    <div class="d-flex flex-column">
        <div class="container-fluid d-flex p-1 flex-column align-items-center"
             id="pegsolitaire-container">
            <div class="board">
                <div th:each="row, i: ${boardCells}">
                    <div class="board-row">
                        <div class="board-cell"
                             th:data-x="${j.index}"
                             th:data-y="${i.index}"
                             th:each="cell, j: ${row}"
                             th:if="${cell != null}">

                            <div class="cross" th:if="${cell.state.name() == 'DESTROYED'}"></div>

                            <span th:if="${cell.state.name() == 'OCCUPIED'}" th:remove="tag">
                                <span th:if="${cell.peg.moveEvent.name() != 'TRIVIAL_MOVE'}"
                                      th:remove="tag">
                                    <div th:class="${#strings.toLowerCase(cell.peg.moveEvent) + ' peg'}"></div>
                                </span>

                                <span th:if="${cell.peg.moveEvent.name() == 'TRIVIAL_MOVE'}"
                                      th:remove="tag">
                                    <div class="peg"></div>
                                </span>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<span layout:fragment="additional-scripts">
    <script th:src="@{/js/board_sizing.js}"></script>
    <script th:src="@{/js/gameplay_rendering.js}"></script>
    <script th:src="@{/js/scores.js}"></script>
    <script th:src="@{/js/pegsolitaire.js}"></script>
</span>
</html>
