<!DOCTYPE html>
<html data-bs-theme="light"
      lang="en"
      layout:decorate="~{layout/layout.html}"
      xmlns="http://www.w3.org/1999/html"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<span layout:fragment="additional-css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/comments.css}"/>
    <link rel="stylesheet" th:href="@{/css/ratings.css}"/>
</span>

<div layout:fragment="content">
    <nav aria-label="Comment pagination">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <button class="page-link" id="pg-prev">Prev</button>
            </li>
            <li class="page-item">
                <button class="page-link" id="refresh">Refresh</button>
            </li>
            <li class="page-item">
                <button class="page-link" id="pg-next">Next</button>
            </li>
        </ul>
    </nav>
    <div class="social-container" data-page="1" id="comment-container">
        <div class="card comment" id="empty-comment">
            <div class="card-header text-center"></div>
            <small class="d-block overflow-auto card-body"></small>
            <div class="card-footer text-center text-muted"></div>
        </div>
        <div class="comment-list"></div>

        <div class="comment-form">
            <div class="card comment">
                <input id="comment-text" class="text-center d-block overflow-auto card-body" placeholder="Insert that"
                       type="text">
                <input id="post-comment" class="btn card-footer text-center text-muted" type="submit"
                       th:value="${#strings.concat('Post on ', #dates.year(#dates.createNow()))}">
            </div>
        </div>
    </div>

    <div class="visually-hidden social-container" data-page="2" id="rating-container">
        <div id="animate" class="rating-bottle"></div>
        <div class="rating-box">
            <b class="stars fa-solid fa-star"></b>
            <b class="stars fa-solid fa-star"></b>
            <b class="stars fa-solid fa-star"></b>
            <b class="stars fa-solid fa-star"></b>
            <b class="stars fa-solid fa-star"></b>
        </div>
        <div class="card rating-form">
            <div class="rating-search-bar">
                <input id="search-input" class="my-auto text-center card-body"
                       placeholder="Find out users rating?" type="text">
            </div>
        </div>
    </div>
</div>
</div>

<span layout:fragment="additional-scripts">
    <script th:src="@{/js/emojis.js}"></script>
    <script th:src="@{/js/comments.js}"></script>
    <script th:src="@{/js/ratings.js}"></script>
    <script th:src="@{/js/pagination.js}"></script>
</span>

</html>