<!DOCTYPE html>
<html lang="en"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments::html-head}"></head>

<body class="sb-sidenav-toggled">

<div class="d-flex flex-shrink-1" id="wrapper">

    <div th:replace="~{fragments/fragments::slidebar}"></div>

    <div id="page-content-wrapper">

        <div th:replace="~{fragments/fragments::navbar(${levels})}"></div>

        <main th:remove="tag" layout:fragment="content"></main>

    </div>
</div>

<footer th:replace="~{fragments/fragments::footer}"></footer>
<span th:replace="~{fragments/fragments::page-scripts}"></span>
<span th:remove="tag" layout:fragment="additional-scripts"></span>
</body>
</html>
