<!DOCTYPE html>
<html lang="en"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments::html-head}"></head>
<body class="sb-sidenav-toggled">

<div class="d-flex flex-grow-0 flex-shrink-1" id="wrapper">

    <div id="page-content-wrapper">

        <div th:replace="~{fragments/fragments::navbar(${levels}, ${events}, ${setupForm}, ${isIndex})}"></div>
        <div id="content">
            <main layout:fragment="content" th:remove="tag"></main>
        </div>

        <footer th:replace="~{fragments/fragments::footer}"></footer>
    </div>
</div>

<span layout:fragment="additional-scripts" th:remove="tag"></span>
<span th:replace="~{fragments/fragments::page-scripts}"></span>
</body>

</html>
