<!DOCTYPE html>
<html data-bs-theme="light"
      lang="en"
      layout:decorate="~{layout/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="container-fluid d-flex flex-column" layout:fragment="content">

    <div class="d-flex mt-auto flex-column align-items-center justify-content-center">
        <h3>Welcome to Peg Solitaire</h3>
        <div class="border"></div>
        <a class="d-block" href="/pegsolitaire/new">
            <div class="btn btn-primary">Start</div>
        </a>
    </div>


    <div th:replace="~{fragments/fragments::score(${scores})}"></div>
</div>