<!DOCTYPE html>
<html data-bs-theme="light"
      lang="en"
      layout:decorate="~{layout/layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org">

<div class="container-fluid d-flex flex-column" layout:fragment="content">

    <div class="d-flex mt-auto flex-column border-bottom align-items-center justify-content-center">
        <h3>Welcome to Peg Solitaire</h3>
    </div>

    <div class="container-lg d-flex my-3 justify-content-center align-items-center">
        <input class="btn btn-primary w-25" form="setup" type="submit" value="Play">
    </div>

    <div th:replace="~{fragments/fragments::score(${scores})}"></div>
</div>