table.scores {
    width: 100%;
    border: black 2px;
}

table.scores th {
    font-weight: bold;
    color: #FFFFFF;
    background-color: dimgray;

}

table.scores tr:nth-child(even) {
    background-color: lightgray
}

table.scores tr:nth-child(odd) {
    background-color: white;
}
